body {
	margin:0;
	padding:0;
}
header {
	display:flex;
	justify-content:center;
	height:120px;
}
.container {
	display:flex;
	justify-content:space-between;
	width:990px;
}
.logo {
	display:flex;
	align-items:center;
}
.menu {
	display:flex;
	align-items:center;
}
nav ul,
nav li {
	list-style: none;
	margin:0;
	padding:0;
}
nav ul {
	display:flex;
}
nav a {
	display:block;
	padding:15px;
	text-decoration:none;
	text-transform:uppercase;
	color:#727272;
}
nav .active a,
nav a:hover {
	background-color:#39aae1;
	color:#FFFFFF;
}

#banner {
	display:flex;
	justify-content:center;
	background-color: #F0F0F0;
	background-position:center;
	background-size:cover;
	height:670px;
}


.banner_headline {
	flex:1;
	display:flex;
	flex-direction: column;
	justify-content:center;
}
.banner_headline h1 {
	color:#FFFFFF;
	font-size:30px ; 
	text-shadow:0px 1px 0px #555555;
	margin:0;
	padding:10;
	max-width:300px;
}
.banner_headline h2 {
	color:#FFFFFF;
	font-size:21px;
	text-shadow:0px 1px 0px #555555;
	margin:0;
	padding:0;
	max-width:350px;
	margin-top:30px;
}
.banner_options {
	height:210px;
	display:flex;
}
.banner1,
.banner2,
.banner3 {
	flex:1;
	color:#FFFFFF;
	padding:20px;
}

.banner_title {
	font-size:21px;
}
.banner_desc {
	font-size:12px;
	margin-top:20px;
	margin-bottom:20px;
}
.banner_options a {
	display:inline-block;
	border:1px solid #FFFFFF;
	padding:5px;
	color:#FFFFFF;
	font-size:13px;
	text-decoration: none;
}

#geral {
	display:flex;
	justify-content:center;
}
#geral section {
	flex:2;
}
#geral aside {
	flex:1;
}

.widget_title {
	margin-top:30px;
	margin-bottom:20px;
}
.widget_title_text {
	color:#000000;
	font-size:21px;
	font-weight: bold;
}
.widget_title_bar {
	width:50px;
	height:2px;
	background-color:#36a9e1;
	margin-top:10px;
}

.flex {
	display:flex;
	flex-wrap:wrap;
}

article {
	flex:1;
	min-width:300px;
	margin-right:20px;
}
article a {
	text-decoration:none;
}
article .news_data {
	display:flex;
}
article .news_posted_at {
	background-color:#2b4c99;
	color:#FFFFFF;
	font-size:12px;
	padding:10px;
	margin-right:2px;
}
article .news_comments {
	background-color:#39aae1;
	color:#FFFFFF;
	font-size:12px;
	padding:10px;
}
article .news_thumbnail {
	margin-top:30px;
}
article .news_thumbnail img {
	width:100%;
	height:auto;
}
article .news_title {
	margin-top:25px;
	margin-bottom:25px;
	color:#000000;
	font-size:23px;
}
article .news_resume {
	color:#5c5c5c;
	line-height:20px;
	font-size:14px;
	margin-bottom:30px;
}

footer {
	background-color:#1e1e1e;
	display:flex;
	justify-content:center;
}
.footer_menu {
	display:flex;
}
.footer_menu a {
	display:block;
	text-decoration: none;
	padding:20px;
	color:#FFFFFF;
}

.footer_area {
	display:flex;
}
.footer_areaitem {
	flex:1;
	color:#FFFFFF;
}
.flexColumn {
	flex-direction:column;
}

footer .widget_title_text {
	color:white;
}

.footer_copy {
	border-top:1px solid #2c2c2c;
	height:40px;
	line-height:40px;
	color:#5c5c5c;
	font-size:12px;
	margin-top:30px;
}

.menuMobile {
	display:none;
	width:40px;
	height:40px;
	margin-top:40px;
	margin-bottom:40px;
	margin-right:20px;
}



@media (max-width:600px) {

	.banner_headline {
		padding:20px;
		
	}
	.banner_headline h1 {
		text-align: center;
		font-family: 'Nunito', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 30px;
		text-align: center;

		color: #141414;

	}
	.banner_headline h2 {
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		text-align: center;

		color: #3D3D3D;
	}

	.banner_options {
		height:auto;
		flex-direction:column;
	}

	.container {
		flex-direction:column;
		width:100%;
	}
	.botao{
		margin-top: 15px;
		margin-left:72px;
		background-color: #37B546;
		border-radius: 12px;
		width: 100px;
		border: 0;
		padding: 10px;
		font-family: 'Roboto', sans-serif;
		color: #d0f9d4;
	}

	#geral section,
	#geral aside {
		padding:20px;
	}

	.footer_menu {
		flex-direction:column;
	}
	.footer_area {
		flex-direction: column;
		padding:20px;
		background-color: #E0E0E0;
	}

	.footer_copy {
		padding-left:20px;
	}

	header .container {
		flex-direction: row;
	}

	nav ul {
		display:none;	
	}
	header {
		height:auto;
	}
	.logo {
		margin-left: -15px;
	}

	.menuMobile {
		display:flex;
		flex-direction: column;
		justify-content:space-around;
	}

	/* Hamburguer Menu */
	.mm_line {
		height:3px;
		background-color:#000000;
	}

	form {
      background-color: #f0f0f0;
      padding-top: 5px;
	  margin-top: 10px;
	}
	#links{
		background-color: #1e1e1e;
		overflow-y: scroll;
		max-height: 200px;
		
	}
	

	/* iframe */
	.video-container {
		overflow: hidden;
		position: relative;
		width:100%;
	}
	
	.video-container::after {
		padding-top: 56.25%;
		display: block;
		content: '';
	}
	
	.video-container iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	/*  */
	input {
		height: 50px;
		width: 100%;
		border-radius: 10px;
	  }
	  .remove {
		background-color: red;
		border-radius: 12px;
		border: 0;
		color: #eee;
		cursor: pointer;
		margin-top: 30px;
	  }
	  .link-color{
		color: #6623EC;
	  }
}


































